<header class="page__header" role="banner">
  <div class="page__inner">
    <nav class="greedy-nav">
      <a href="/" class="site-title">Chirag Suri</a>

      <button class="nav-toggle" aria-label="Toggle Menu">☰</button>

      <ul class="visible-links">
        <li><a href="/projects/">Projects</a></li>
        <li><a href="/certifications/">Certifications</a></li>
        <li><a href="/textUtils/">TextUtils</a></li>
        <li><a href="/about/">About</a></li>
      </ul>
    </nav>
  </div>
</header>
